<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FireFighterVision</title>
    <style>

        .chartMenu{
        width: 100vw;
        height: 40px;
        background: #1A1A1A;
        color: rgba(255, 26, 104, 1);
      }
        .chartMenu p {
        padding: 10px;
        font-size: 20px;
      }
        
      .chartCard {
        width: 100vw;
        height: calc(100vh - 40px);
        background: rgba(255, 26, 104, 0.2);
        display: flex;
        align-items: right;
        justify-content: right;
      }

      .chartBoxHR {
        width: 612px;
        height:300px;
        padding: 5px;
        position:absolute; 
        left: 60%;
        top: 12%;
        border: solid 3px rgba(255, 26, 104, 1);
        background: white;
      }
      
      .chartBoxDHT22 {
        width: 612px;
        height:300px;
        padding: 5px;
        position:absolute; 
        left: 60%;
        top: 55.9%;
        border: solid 3px rgba(255, 26, 104, 1);
        background: white;
      }
    </style>
    <!-- Bootstraps Java Scipts Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--High CHART LIVE  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
  </head>
  
  <body>
    <!--Video block-->
    <div class="chartMenu">
    <!--<p>Video Streaming</p> -->
    <p style="padding: 13px; width: 15%; height: 1%">ID: 1234567</p>
    <img id="bg" class="center" height="680" width ="60%" src="{{ url_for('video_feed') }}">

    </div>
      <div class="chartCard">
        <div class = "col">
          <div class="chartBoxHR">
            <div class="container-fluid" id="heartrate-container" style="width:600px; height:289px; float: left">
              <div class="row"></div>
            </div>
          </div>
          <div class="chartBoxDHT22">
            <div class="container-fluid" id="dht22-container" style="width:600px; height:289px; float: left">
              <div class="row"></div>
            </div>
          </div>
        </div>
      </div>  
    </div>

    <br>
    <br>

    <script>
        var chartHR;
        var chartDHT;
        //request heart rate data from flask
        function requestHRData()
            {
              // Ajax call to get the Data from Flask
              var requests = $.get('/HRdata');
              var tm = requests.done(function (result) {
                var series = chartHR.series[0],
                shift = series.data.length > 20;
                // add the point
                chartHR.series[0].addPoint(result, true, shift);
                // call it again after specified second
                setTimeout(requestHRData, 1000);
              });
            }

        //request temperature data from flask
        function requestDHT22Data()
        {
          // Ajax call to get the Data from Flask
          var requests = $.get('/DHT22data');
          var tm = requests.done(function (result) {
            var series = chartDHT.series[0],
            shift = series.data.length > 20;
            // add the point
            chartDHT.series[0].addPoint(result, true, shift);
            // call it again after specified second
            setTimeout(requestDHT22Data, 1000);
          });
        }


        // plot Heart rate data
            $(document).ready(function() {
                chartHR = new Highcharts.Chart({
                    chart: {
                        renderTo: 'heartrate-container',
                        defaultSeriesType: 'line',
                        //margin: [0, 0, 0, 0],
                        //width: 610,
                        //height: '289px',
                        events: {
                            load: requestHRData
                        }
                    },
                    title: {
                        text: 'Heart Rate Data'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150,
                        maxZoom: 20 * 1000
                    },
                    yAxis: {
                        minPadding: 0.2,
                        maxPadding: 0.2,
                        title: {
                            text: 'Heart Rate',
                            margin: 10
                        }
                    },
                    series: [{
                        name: 'Random data',
                        data: []
                    }]
                });
    
            });

            // plot DHT22 data
            $(document).ready(function() {
              chartDHT = new Highcharts.Chart({
                  chart: {
                      renderTo: 'dht22-container',
                      defaultSeriesType: 'line',
                      //margin: [0, 0, 0, 0],
                      //width: 610,
                      //height: '289px',
                      events: {
                          load: requestDHT22Data
                      }
                  },
                  title: {
                      text: 'Heart Rate Data'
                  },
                  xAxis: {
                      type: 'datetime',
                      tickPixelInterval: 150,
                      maxZoom: 20 * 1000
                  },
                  yAxis: {
                      minPadding: 0.2,
                      maxPadding: 0.2,
                      title: {
                          text: 'Heart Rate',
                          margin: 10
                      }
                  },
                  series: [{
                      name: 'Random data',
                      data: []
                  }]
              });
          });
    </script>

    <!--
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

    does nothing but seems important
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    <script>
      // CONFIG BLOCK
      const config = {
        type: 'line',
        data: data,
        options: {}
      };
      const myChart = new Chart(
        document.getElementById('myChart'),
        config
      );
    </script>
    -->
 
  </body>
</html>
